__pycache__
.ipynb_checkpoints
*/.git/*
.DS_Store
*.swp*
Permanent/codon_project/envs/*
*/wandb/*
*/embeddings/*
Misc/*
**/data*/*
**/*.json
**/*.csv
**/*.pkl
**/*.zip
**/ophiuchus_local/*.html
**/scripts/*
**/*.npy
**/miscellaneous/*
**/ophiuchus_local/*

